@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');



.bg-list {
    --color: rgba(0, 0, 0);
    --bgColor: #d4f0fc;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    color: var(--color);
    background: var(--bgColor);
}

h1 {
    text-align: center;
}

ol {
    width: min(100rem, 96%);
    margin-inline: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    list-style: none;
    /* counter-reset: stepnr; */
}

a:nth-child(6n + 1) {
    --accent-color: #b8df4e
}

a:nth-child(6n + 2) {
    --accent-color: #FFC949
}

a:nth-child(6n + 3) {
    --accent-color: #D20040
}

a:nth-child(6n + 4) {
    --accent-color: #F06130
}

a:nth-child(6n + 5) {
    --accent-color: #8DECB4
}

a:nth-child(6n + 6) {
    --accent-color: #F078C2
}

a:nth-child(6n + 7) {
    --accent-color: #F6F5F0
}

ol a {
    /* counter-increment: stepnr; */
    width: 20rem;
    --borderS: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borderS) + 4rem);
    position: relative;
    background-color: #02577a;
    border-radius: 50%;
}

ol a::before,
ol a::after {
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: var(--borderS) solid var(--bgColor);
    line-height: 1.1;
}

/* ol li::before {
    content: counter(stepnr);
    color: var(--accent-color);
    padding-left: 9rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
} */

ol a::after {
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem .0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol a>* {
    width: 7.5rem
}

ol a li {
    align-items: center;
    text-align: center;
}

ol a li .icon {
    color: var(--accent-color);
    font-size: 4rem;
    padding-left: 2rem;
}

ol a li .title {
    color: var(--accent-color);
    font-size: 4rem;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: -1rem;
}

/* Semester Tittle*/

.deconstructed {
    position: relative;
    margin: auto;
    height: 1em;
    width: max(56vw, 28px);
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: max(7vw, 28px);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;
}

.deconstructed>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #02a9f7;
    pointer-events: none;
}

.deconstructed>div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
}

.deconstructed>div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
}

.deconstructed>div:nth-child(3) {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
}

.deconstructed>div:nth-child(4) {
    -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
    0% {
        transform: translateX(100%);
    }

    26% {
        transform: translateX(0%);
    }

    83% {
        transform: translateX(-0.1%);
    }

    100% {
        transform: translateX(-120%);
    }
}

@keyframes deconstructed2 {
    0% {
        transform: translateX(100%);
    }

    24% {
        transform: translateX(0.5%);
    }

    82% {
        transform: translateX(-0.2%);
    }

    100% {
        transform: translateX(-125%);
    }
}

@keyframes deconstructed3 {
    0% {
        transform: translateX(100%);
    }

    22% {
        transform: translateX(0%);
    }

    81% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-130%);
    }
}

@keyframes deconstructed4 {
    0% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-135%);
    }
}