@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 50%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style: none;
}


/* ----------- navbar style start ----------- */

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 6rem 1fr 1.8fr 1.2fr 4rem;
  background-color: #00d9ff;
  position: fixed;
  z-index: 1000;
}

/* ----------- logo part start ----------- */

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  /* justify-content: start; */
  align-items: center;
}

.logo h2 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#be05f7, #7406f1, rgb(20, 3, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 5rem;
  font-weight: 500;
}

/* ----------- Main Link part start ----------- */

.menu-link {
  grid-column: 3/4;
  color: #9400e7;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link ul li {
  font-size: 2rem;
  font-weight: bold;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(148, 0, 231, 0.9);
  transition: 0.5s;
}

.menu-link ul li:hover>a {
  transform-origin: left;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  transition: 0.5s;
}

/* ----------- Social Media ----------- */

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}


.social-media ul li {
  font-size: 2.5rem;
}

.social-media .hamburger-menu {
  display: none;
}

.facebook {
  color: #0753f8;
}

.instagram {
  color: #d608aa;
}

.youtube {
  color: #ff0000;
}

/* -----------responsive css style PC----------- */
@media (max-width: 1150px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 1.5fr 3fr 1.5fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
}

/* -----------responsive css style Tablet----------- */
@media (max-width: 1080px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: #00d9ff;
    height: 40rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 30rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    color: #3500b1;
  }

}

/* -----------responsive css style i-pad----------- */
@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    color: #000000;
  }
}

/* -----------responsive css style Mobile----------- */
@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    color: #ffffff;
  }
}

/* -----------Hero part Start----------- */
#HV {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title h1 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#5b40f5, #20dbfc, rgb(161, 65, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#0123e6, #00d3f8, rgb(133, 5, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title img {
  margin: auto;
  display: flex;
  align-items: center;
}

/* Section */

/* -----------Footer part Start----------- */
footer {
  position: static;
}

.footer-media {
  height: 3rem;
  display: flex;
  justify-self: end;
  align-items: center;
}