@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap");

.hero-section {
  --primary-color: #02a9f7;
  --secondary-color: #01303f;
  --background-color: rgba(1, 48, 63, 0.9);
  --text-color: #ffffff;
  --hover-color: #d4f0fc;
  --border-color: rgba(255, 255, 255, 0.1);
  --glassmorphism-blur: blur(10px);
  --border-radius: 20px;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  backdrop-filter: var(--glassmorphism-blur);
  -webkit-backdrop-filter: var(--glassmorphism-blur);
  padding: 2rem;
  text-align: center;
}

.hero-content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-logo {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--primary-color);
  margin: 0;
}

.hero-subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.hero-text-container {
  max-width: 800px;
  text-align: center;
}

.hero-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
  margin: 1.5rem 0 1.5rem 0;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.hero-button {
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
  transform: translateY(-5px);
}

.hero-stats {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.stat-item {
  width: 20rem;
  border-radius: var(--border-radius);
  background-color: var(--hover-color);
  text-align: center;
  justify-items: center;
}

.stat-item h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
}

.stat-item p {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hero-logo {
    margin-top: 9rem;
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }

  .hero-text {
    font-size: 1.4rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-button {
    width: 100%;
  }

  .hero-stats {
    gap: 1rem;
  }

  .stat-item {
    width: 12rem;
  }

  .stat-item h2 {
    font-size: 2.5rem;
  }

  .stat-item p {
    font-size: 1rem;
  }
}
