@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

.gLinks {
    padding: 3rem;
}

.gLinks h1 {
    font-size: 5rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    color: #01303f;
    margin-bottom: 0.6rem;
}

.gLinks hr {
    border-radius: 1rem;
    border-width: 0.6rem;
    border-style: double;
    border-color: #01303f;
    margin-bottom: 3.6rem;
}

.gLinks ul {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    row-gap: clamp(1rem, 2vh, 3rem);
    column-gap: clamp(3rem, 6vw, 10rem);
}

.gLinks li {
    width: 30rem;
    color: #d4f0fc;
    background: #01303f;
    box-shadow: 0px 4px #02a9f7;
    padding: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
}