/* ----------- navbar style start ----------- */
.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 5rem 1fr 3fr 1.5fr 5rem;
  position: fixed;
  z-index: var(--z-modal);

  background: var(--bg-glass);
  border-bottom-left-radius: var(--border-radius2);
  border-bottom-right-radius: var(--border-radius2);
  box-shadow: var(--shadow-hard);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
}

.main-nav li,
.menu-link span,
.menu-link a,
.dropdown-menu a,
.mobile-menu-link li {
  font-family: var(--font-serif);
  font-size: var(--fs-md);
}

/* ----------- logo part start ----------- */
.logo {
  display: grid;
  grid-column: 2/3;
  align-items: center;
}

.logo img {
  height: auto;
  max-height: 8rem;
  max-width: 100%;
  object-fit: contain;
}

/* ----------- Main Link part start ----------- */

.menu-link {
  grid-column: 3/4;
  z-index: var(--z-sticky);
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link ul li,
.menu-link ul li span {
  color: var(--color-primary);

  font-weight: bold;
  text-transform: capitalize;
  transition: 0.5s;
}

.menu-link ul li:hover > a,
.menu-link ul li:hover {
  transform-origin: left;
  color: var(--color-primary);
  text-decoration: underline;
  transition: 0.5s;
}

/* ----------- Social Media ----------- */
.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

.social-media ul li img {
  height: 3rem;
}

.social-media .hamburger-menu {
  display: none;
  font-family: var(--font-serif);
  font-size: var(--fs-lg);
  color: var(--color-primary);
}

.facebook {
  color: #0753f8;
}

.instagram {
  color: #d608aa;
}

.youtube {
  color: #ff0000;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: transparent;
  border: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-primary);
}

.dropdown-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  fill: currentColor;
}

.dropdown-icon.rotate {
  transform: rotate(-180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  min-height: fit-content;
  max-height: max-content;
  display: flex;
  flex-direction: row;

  background: var(--bg-glass);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-soft);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);

  padding: 0.5rem 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
  z-index: 10;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: var(--primary-text);

  font-weight: 800;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  color: var(--secondary-text);
}

/* -----------responsive css style Tablet----------- */
@media (max-width: 1080px) {
  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: var(--z-dropdown);
  }

  .mobile-menu-link {
    background: var(--bg-glass);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: var(--shadow-soft);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);

    height: 40rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    margin-top: 1.5rem;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
  }

  .mobile-menu-link ul {
    height: 35rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: baseline;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.3s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 4s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
  }
}

/* -----------responsive css style i-pad----------- */
@media (max-width: 798px) {
  .main-nav {
    grid-template-columns: 4rem 2fr 2fr 2fr 4rem;
  }

  .social-media {
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
  }
}

/* -----------responsive css style Mobile----------- */
@media (max-width: 520px) {
  .main-nav {
    grid-template-columns: 2rem 2fr 1fr 2fr 2rem;
  }

  .social-media {
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
  }
}
