/* File: src/components/Section.css */

.header-ui {
  padding-top: 7rem;
}

.wrapper {
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
  margin-inline: auto;
}

.wrapper > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--text-muted);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(4rem, 4.5vw, 15rem);
  padding-top: clamp(1rem, 2vw, 3rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient(
    105deg,
    var(--color-primary) 0%,
    var(--color-secondary) 5%,
    var(--color-primary) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg {
  background-image: repeating-linear-gradient(
    5deg,
    var(--color-primary) 0%,
    var(--color-primary-dark) 23%,
    var(--color-primary) 31%
  );
  color: #1e2127;
  transform: scale(1);
}
