.header-ui {
  /* --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904; */
  --gold: #02a9f7;
  --light-shadow: #02577a;
  --dark-shadow: #01303f;

  padding-top: 10rem;
}

.wrapper {
  /* background: radial-gradient(#272727, #1b1b1b); */
  /* background: #d4f0fc; */
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
  margin-inline: auto;
}

.wrapper > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(4rem, 6vw, 15rem);
  padding-top: clamp(1rem, 2vw, 3rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient(
    105deg,
    var(--gold) 0%,
    var(--dark-shadow) 5%,
    var(--gold) 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg {
  background-image: repeating-linear-gradient(
    5deg,
    var(--gold) 0%,
    var(--light-shadow) 23%,
    var(--gold) 31%
  );
  color: #1e2127;
  transform: scale(1);
}
