 .section-hero {
     background-color: #01303f;
     padding: 9.6rem 0 8.4rem 0;
     font-size: 62.5%;
     font-family: "Rubik", sans-serif;
     line-height: 1;
     color: #d4f0fc;
     /* This is our main text color*/
     font-weight: 400;
     height: 90vh;
 }

 .heros {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 0 3.2rem;
     padding-top: 10rem;
     gap: 0 9.6rem;
     margin-left: 7vw;
     align-items: center;
 }

 .heading-primary {
     font-size: clamp(5rem, 6vw, 10rem);
     color: #89d6fb;
     font-weight: 700;
     letter-spacing: -0.5px;
     line-height: 0.9;
     margin-bottom: 3.6rem;
     margin-top: 10vh;
     text-align: start;
 }

 .hero-description {
     font-size: clamp(1.5rem, 2vw, 2.5rem);
     line-height: 1.5;
     margin-bottom: 4.8rem;
 }

 .hero-img-box {
     grid-column: 2/3;
     grid-row: 1/3;
 }

 .hero-img {
     width: clamp(40rem, 70%, 70rem);
     border-radius: 50%;
     margin-left: 4vw;
 }

 .enroll {
     font-family: 'Montserrat', sans-serif;
     color: #d4f0fc;
     background: #02a9f7;
     border: solid 2px #02577a;
     padding: 8px 24px;
     border-radius: 30px;
     margin-left: -0.5rem;
     font-weight: bold;
     font-size: clamp(1.5rem, 2vw, 2.5rem);
     display: inline-block;
 }

 .enroll:hover {
     cursor: pointer;
     background: #d4f0fc;
     border: solid 2px #02a9f7;
     color: #02577a;
 }

 @media (max-width: 1080px) {
     .heros {
         padding: 0 3rem;
         gap: 0 8rem;
         margin-left: 7vw;
     }

     .hero-img {
         margin-left: 1vw;
     }
 }

 @media (max-width: 798px) {
     .heros {
         padding: 0 3rem;
         gap: 0 5rem;
         margin-left: 2vw;
     }

     .hero-img {
         width: clamp(40rem, 50%, 60rem);
         border-radius: 50%;
         margin-left: 0vw;
     }
 }


 @media (max-width: 520px) {
     .section-hero {
         height: 90vh;
     }

     .heros {
         display: block;
         width: 100%;
         padding-inline: 8vw;
         margin: 0;
         gap: 0;
         text-align: center;
     }

     .heading-primary {
         text-align: center;
     }


     .hero-img-box {
         visibility: collapse;
     }

 }