#contact {
    width: 100%;
    height: 100%;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: transparent;
    color: #01303f;
    border-color: #01303f;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Lato';
    font-size: medium;
    margin-block: 1rem;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background-color: #000;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.alt-send-button #icon {
    margin-top: 2rem;
    color: #fff;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 800 16px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
    color: #02a9f7;
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    color: #01303f;
}

.list-item {
    line-height: 5;
}

.place {
    margin-left: 55px;
}

.phone {
    margin-left: 50px;
}

.gmail {
    margin-left: 50px;
}

.contact-text a {
    text-underline-offset: none;
    transition-duration: 0.2s;
    font: 200 20px 'Lato', sans-serif;
    font-style: italic;
    letter-spacing: 1.9px;
    font-size: clamp(15px, 2.1vh, 20px);
}

.contact-text a:hover {
    color: #02a9f7;
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list a li {
    color: #fff;
}

.social-media-list a li img {
    aspect-ratio: 1/1;
    width: 30px;
    margin: 15px;
}

.social-media-list a li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list a li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list a li:hover {
    background-color: #fff;
}

.social-media-list a li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list a li:hover {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-block: 30px;
        max-width: 300px;
    }

    .social-media-list a li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list a li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .social-media-list a li img {
        aspect-ratio: 1/1;
        width: 30px;
        margin: 15px;
    }
}

@media screen and (max-width: 569px) {

    .contact-wrapper {
        margin: 0 auto;
        padding: 10px;
        padding-block: 22.5px;
        max-width: 840px;
    }

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-block: 30px;
    }

    .contact-list {
        list-style-type: none;
        margin-left: -30px;
        padding-right: 0px;
        color: #01303f;
    }

    .place {
        margin-left: 25px;
    }

    .phone {
        margin-left: 20px;
    }

    .gmail {
        margin-left: 20px;
    }


    .social-media-list {
        left: 0;
    }

    .social-media-list a li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list a li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

    .social-media-list a li img {
        aspect-ratio: 1/1;
        width: 28px;
        margin: 14px;
    }

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}